.index h1 {
	color: #84e1e1;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 380px;
	position: relative;

}

img {
	width: 400px;
	height: auto;
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -80px);
	border-radius: 50%;
}

body {
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
}

.links p{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 5px;
	text-align: center;
}

.container {
	padding-top: 3px;
}

a:link {
	color: #5bd7d7;
	text-decoration: none;
}

a:visited {
	color: #5bd7d7;
	text-decoration: none;
} 

a:hover {
	color: #b3b3ff;
	text-decoration: none;
}

.bio h1{
	font-family: 'Roboto Condensed', sans-serif;
	color: #ff884d;
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0px;
	margin: 0px;
}

.container2 {
	display: inline-block;
	color: #595959;
	text-align: center;
	padding-left: 25%;
}


.text p{
	font-family: 'Roboto Condensed', sans-serif;
	display: table;
	width: 600px;
	letter-spacing: 1px;
	font-size: 20px;	
	margin: 0px;
	padding-top: 20px;
}